::selection {
    background-color: #E13300;
    color: white;
}

::-moz-selection {
    background-color: #E13300;
    color: white;
}

body {

  background-image: url(https://www.publicdomainpictures.net/pictures/280000/velka/comic-books-background-1540742121Zgf.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
	font-family: "Roboto", sans-serif;   
}

.boutons a:hover{
    color: white;
    text-decoration: none;
    border: 1px solid #D0D0D0;
    margin-bottom:-1px;
    margin-top:-1px;
    background-color: black;
    border-radius: 10px;
    font-size: 1.2em;
}

.boutons a {
    text-align: center;
    text-decoration: none;
    color: white;
    /*color: #003399;
    background-color: transparent;
    font-weight: normal;*/
}

h1 {
    text-align: center;
    color: #444;
    background-color: transparent;
    /*border-bottom: 1px solid #D0D0D0;*/
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
    text-align: center;
}

.GoBack{
  position: absolute;
  z-index: 90;
}

p.div{
    text-align: center;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}


#container {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: solid 1px #C7C7C7;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00A7B2;
  width: 100%;
  border: 0;
  border-radius: 30px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #008D96;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #00A7B2;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.btnAccueil{
  background-color: #00A7B2;
  border-radius: 30px;
  color: white !important;
  
  border:solid 15px #00A7B2;
}

.btnAccueil:hover{
  background: #008D96;
  border:solid 15px #008D96;
}



.toggle{
  background-color: #e5e5e5;
  padding: 4px;
  box-shadow: 0.4px 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.6 );
  border-radius: 4px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  max-width: 100px;
  text-decoration: none;

}

.toggle:hover{
  background-color: #eeeeee;
}

.toggleBlue{
  background-color: #007bff;
  color:white !important;
  padding: 4px;
  box-shadow: 0.4px 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.6 );
  border-radius: 4px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  max-width: 100px;
  text-decoration: none;

}

.toggleBlue:hover{
  background-color: #0252a8;
}

.readmenot{
  pointer-events: none;
}

.suppUser{
  color: white;
  background-color: #ff1717; 
}

.suppUser:hover, #deconnexion:hover{
  background-color: #d11919 !important; 
}

#deconnexion{
  color: white;
  background-color: #ff1717 !important;
  border: solid 1px #c44037 !important;
  border-radius: 5px !important;
  padding-top: -10px !important;
}

a, u {
    text-decoration: none !important;
    color:black;
}

.card a:hover, .card u:hover {
    color:black !important;
}

nav {
  box-shadow: 1px 1px rgba(0, 0, 0, .2);
}
.num {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: solid 2px black;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 25px;

}